{% extends 'base.html.twig' %}

{% block body %}

    human chose {{ currentGame.humanFate }} <br>
    computer chose {{ currentGame.computerFate }}<br>

    HUMAN {{ currentGame.outcome }} ! ! <br>

    <table>
        <thead>
        <tr>
            <th>Humanfate</th>
            <th>Computerfate</th>
            <th>Outcome</th>
            <th>Occurences</th>
        </tr>
        </thead>
        <tbody>
        {% for statistic in statistics %}
            <tr>
                <td>{{ statistic.humanFate }}</td>
                <td>{{ statistic.computerFate }}</td>
                <td>{{ statistic.outcome }}</td>
                <td>{{ statistic.occurences }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
